@model User


<style>
  .logo{
    max-width: 50%;
    max-height: 50%;
  }

</style>

<div class="row text-center">
  @await Html.PartialAsync("_NavigationBar")
</div>

<div class="row text-center">
  @await Html.PartialAsync("_ProfileNavBar")
</div>

<div>
<h2 class="display-4 m-4 text-center">Hello User @Model.FirstName @Model.LastName</h2>
</div>

  <div id="membership">
    <div class="container drop-shadow p-5">
      <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">

          </div>
          <br>

          <div class="row">
            <h2 class="display-5 m-3 bg bg-warning col">CURRENT MEMBERSHIP</h2>
            <div class="row m-1">
                <div class="display-6 col">NONE</div>
            </div>
          </div>
        </div>
        
        <div class="col-md-1"></div>

      </div>
    </div>
  </div>



<br>
<br>

  <div id="your-dogs">
    <div class="container drop-shadow p-5">
      <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">

          </div>
          <br>

          @* Displays Your Dogs *@
          <div class="row">
            <h2 class="display-5 m-3 bg bg-warning col">YOUR DOGS</h2>
            <div class="row m-1">
                <div class="display-6 col">
                  @foreach (Dog pup in @Model.AllDogs)
                  {
                  <div class="container">
                      <table class="table">
                        <h1 class="display-4">@pup.Name</h1>
                          <tbody>
                              <tr>
                                  <th>Breed</th>
                                  <td>@pup.Breed</td>
                              </tr>
                              <tr>
                                  <th>Weight</th>
                                  <td>@pup.Weight lbs</td>
                              </tr>
                              <tr>
                                  <th>Age</th>
                                  <td>@pup.Age Years</td>
                              </tr>
                              <tr>
                                  <th>Temperament</th>
                                  <td>@pup.Temperament</td>
                              </tr>
                              <tr>
                                  <th>Vaccinated</th>
                                    @if(@pup.Vaccinated == true)
                                    {
                                    <td>Yes</td>
                                    }
                                    else
                                    {
                                    <td>No</td>
                                    }
                              </tr>
                              <tr>
                                  <th>Diet</th>
                                  <td>@pup.Diet</td>
                              </tr>
                              <tr>
                                  <th>Notes</th>
                                  <td>@pup.Notes</td>
                              </tr>
                              <tr>
                                  <th><a href="/dogs/@pup.DogId/edit"><button class="btn btn-warning text-white">UPDATE INFO</button></a></th>

                                  <th>
                                    <form asp-action="DeleteDog" asp-controller="Dog" asp-route-id="@pup.DogId" method="post"><button class="btn btn-danger">REMOVE</button>
                                    </form>
                                  </th>
                              </tr>
                          </tbody>
                      </table>

                  </div>
                  }
                  <a href="/dogs/new" class="text-white d-block"><button class="btn btn-primary text-white">ADD A DOG</button></a>
                </div>
            </div>
            @* Create / See Your Dogs *@
            <br>
            <br>
            <br>
            <br>
            <div class="row m-1">
                <div class="display-6 col">
                  <a href="/dogs" class="text-black d-block">See All Dogs</a>
                </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-1"></div>

      </div>
    </div>
  </div>



  <br>
<br>

  <div id="your-dogs">
    <div class="container drop-shadow p-5">
      <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">

          </div>
          <br>

          <div class="row">
            <h2 class="display-5 m-3 bg bg-warning col">YOUR BOARDINGS</h2>
            <div class="row m-1">
                <div class="display-6 col">NONE</div>
            </div>
          </div>
        </div>
        
        <div class="col-md-1"></div>

      </div>
    </div>
  </div>



<div class="floating-bar">
<a href="#navbar"><button class="return-button bg bg-info display-4 d-flex justify-content-center align-items-center">^</button></a>
</div>
<script src="script.js"></script>






<style>
    .custom-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .top{
        margin-top: auto;
    }

    .bottom{
        margin-bottom: auto;
    }

    .no-decoration{
        text-decoration: none;
    }
</style>